@charset "UTF-8";

/*!
 * Luggest Default Styles
 * -----------------------
 * Basic UI styling for the Luggest autocomplete dropdown and items.
 * Feel free to override these rules in your application.
 *
 * Repository: https://github.com/yesman93/luggest
 * License: MIT
 */

.luggest-dropdown {
    border: 1px solid #cccccc;
    background: #ffffff;
    max-height: 200px;
    overflow-y: auto;
    border-radius: .35rem;
    padding: .5rem 0;
    box-shadow: 1px 3px 5px #cccccc;
}

.luggest-item {
    padding: .25rem .5rem;
    cursor: pointer;
}

.luggest-item:hover,
.luggest-item.is-active {
    background: #eeeeee;
}